---
layout: default
---
<div class="home">
  {%- if page.title -%}
  <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%} {{ content }} {%- if site.posts.size > 0 -%}
  <ul class="post-list">
    {% assign shuffledPosts = site.posts | sample:site.posts.size %}
    {%- for post in shuffledPosts -%}
    <li>
      <!-- {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span> -->
      <h3>
        <a class="post-link" href="{{ post.url | relative_url }}">
          {{ post.title | escape }}
        </a>
      </h3>
      <div class="post-associations">
        {% if post %} {% assign tags = post.tags %} {% assign categories =
        post.categories %} {% else %} {% assign tags = page.tags %} {% assign
        categories = page.categories %} {% endif %}
        <div class="post-categories">
          {% for category in categories %}
          <a href="{{relative_url}}/category/{{category|slugize}}"
            >{{category}}</a
          >
          <!-- {{tag}} -->
          {% unless forloop.last %}&nbsp;{% endunless %} {% endfor %}
        </div>
        <div class="post-tags">
          {% for tag in tags %}
          <a href="{{site.url}}/tags/#{{tag|slugize}}"
            ><small>{{tag}}</small></a
          >
          <!-- {{tag}} -->
          {% unless forloop.last %}&nbsp;{% endunless %} {% endfor %}
        </div>
      </div>

      {%- if site.show_excerpts -%} {{ post.excerpt }} {%- endif -%}
    </li>
    {%- endfor -%}
  </ul>

  <!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p> -->
  {%- endif -%}
</div>
